.ab-t {
  background-color: rgb(4, 4, 39);
  padding-bottom: 6rem;
}

.cards-main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.cards-b {
  height: 600px;
  width: 420px;
  background-color: rgb(78, 3, 78);
  position: relative;
  margin-top: 7rem;
  border-radius: 6px;
  color: white;
}

.b-pics {
  height: 330px;
  width: 420px;
  border-radius: 6px 6px 0px 0px;
}

.c-head {
  padding: 13px 0px 0px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
}
.c-head:hover {
  color: rgb(151, 151, 239);
  cursor: pointer;
  transition: all 0.6s;
}
.card-para {
  padding: 3px 0px 0px 24px;
  font-size: 19px;
  width: 420px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  color: cadetblue;
}

#carow-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(151, 151, 239);
  font-size: 1.2rem;
  padding-left: 26px;
}
#aroow-icon {
  color: rgb(151, 151, 239);
  padding-left: 5px;
}

.names-dev {
  display: flex;
  padding: 10px 0px 0px 18px;
  height: max-content;
  width: max-content;
  position: relative;
  top: 6px;
  color: cadetblue;
}
#allan-text {
  position: relative;
  left: 10px;
}

#line {
  position: relative;
  left: 5px;
}

@media only screen and (max-width: 1290px) {
  .cards-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 25px;
  }
  .cards-b {
    margin-top: 3rem;
    position: relative;
    left: 13rem;
  }
  .card-1 {
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 992px) {
  .cards-b {
    margin-top: 3rem;
    position: relative;
    left: 8rem;
  }
}

@media only screen and (max-width: 768px) {
  .cards-b {
    left: 7rem;
  }
}

@media screen and (max-width: 576px) {
  .cards-b {
    left: 2rem;
    height: 540px;
    width: 310px;
  }
  .b-pics {
    height: 270px;
    width: 310px;
  }
  .card-para {
    font-size: 17px;
    width: 300px;
  }
  .c-head {
    font-size: 1.2rem;
    position: relative;
  }
  #carow-btn {
    font-size: 1.1rem;
  }
  .ab-t {
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 380px) {
  .cards-b {
    left: 14px;
  }
}

@media screen and (max-width: 330px) {
  .cards-b {
    left: 7px;
    width: 280px;
  }
  .b-pics {
    height: 270px;
    width: 280px;
  }
}
