.six-container {
  position: relative;
  background-image: url("../../public/bm.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 0cm;
  padding: 20px;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
.six-container::before {
  content: "";
  position: absolute;
  background-color: rgba(44, 25, 25, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#t-text {
  color: yellowgreen;
  position: relative;
  margin-top: 1.7rem;
  /* left: 41rem; */
  /* top: 2rem; */
  left: 13rem;
  font-size: 2rem;
  height: max-content;
  width: max-content;
}

#cl-text {
  color: white;
  position: relative;
  font-size: 2.4rem;
  height: max-content;
  /* left: 36rem; */
  /* top: 3rem; */
  left: 7rem;
  width: max-content;
}
.cont-frame {
  border-radius: 900px;
  background-color: gray;
  width: max-content;
  position: relative;
  /* left: 42rem; */
  left: 13rem;
  border: solid 2px white;
  padding: 2px;
  margin-top: 4rem;
  bottom: 3rem;
}

#clpics {
  height: 200px;
  width: 200px;
  border-radius: 900px;
  position: relative;
  transition: 0.5s all;
}

.client-slider {
  position: relative;
  /* top: 5rem; */
  text-align: center;
  transition: 0.5s all;
  z-index: 2;
}

.client-card {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  display: none;
  transition: 0.5s all;
}

.client-card.active {
  display: block;
}

.nav-buttons button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 30px;
  margin: 0 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2.6rem;
}

.nav-buttons button:hover {
  opacity: 0.6;
}

#prev {
  position: relative;
  bottom: 22rem;
  right: 19rem;
  /* bottom: 17rem;
  right: 17rem; */
}

#next {
  position: relative;
  bottom: 22rem;
  left: 17rem;
  /* bottom: 17rem;
  left: 17rem; */
}

#comment {
  font-size: 1.4rem;
  width: 700px;
  position: relative;
  /* left: 28rem;
  top: 3rem; */
  margin-top: 20px;
  font-weight: 900;
}
#cl-name {
  position: relative;
  right: 1.5rem;
  /* top: 2rem;
  right: 3rem; */
  font-size: 2rem;
}

#profession {
  position: relative;
  right: 1rem;
  /* top: 4rem; */
  font-size: 1.4rem;
  /* right: 3rem; */
}

@media only screen and (max-width: 768px) {
  .cont-frame {
    left: 9rem;
  }

  #prev {
    right: 10rem;
  }

  #profession {
    right: 0rem;
  }

  #next {
    left: 13rem;
  }

  #comment {
    left: 0.8rem;
    font-size: 1.2rem;
    width: 500px;
  }
  #cl-name {
    font-size: 1.5rem;
    left: 0.3rem;
  }
  #t-text {
    margin-top: 4rem;
    left: 9rem;
    font-size: 1.7rem;
  }
  #cl-text {
    left: 7rem;
    top: 8px;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 576px) {
  #clpics {
    height: 170px;
    width: 170px;
  }

  .cont-frame {
    left: 5.2rem;
  }

  #comment {
    left: 0.5rem;
    font-size: 1rem;
    width: 350px;
    /* display: none; */
  }

  #next {
    left: 6rem;
    font-size: 30px;
  }

  #prev {
    right: 6rem;
    font-size: 30px;
  }

  #cl-text {
    left: 3rem;
    top: 8px;
    font-size: 1.6rem;
    width: max-content;
  }

  #t-text {
    margin-top: 4rem;
    left: 5.6rem;
    font-size: 1.7rem;
  }

  .content {
    width: max-content;
  }
}

@media only screen and (max-width: 394px) {
  #comment {
    left: -0.6rem;
    font-size: 16px;
    width: 280px;
  }

  .cont-frame {
    left: 2.7rem;
  }

  #profession {
    right: 0.4rem;
    top: 5px;
    font-size: 20px;
  }

  #cl-name {
    font-size: 1.4rem;
    left: -1rem;
  }

  #cl-text {
    left: 1.4rem;
    top: 8px;
    font-size: 1.5rem;
    width: max-content;
  }

  #t-text {
    margin-top: 4rem;
    left: 4.5rem;
    font-size: 1.5rem;
  }

  #next {
    left: 4.3rem;
    font-size: 30px;
  }

  #prev {
    right: 5rem;
    font-size: 30px;
  }
}

@media only screen and (max-width: 330px) {
  #comment {
    left: -0.8rem;
    font-size: 14px;
    width: 240px;
  }

  .cont-frame {
    left: 2rem;
  }

  #profession {
    right: 0.5rem;
    top: 5px;
    font-size: 19px;
  }

  #cl-name {
    font-size: 1.2rem;
    left: -1.1rem;
  }

  #cl-text {
    left: 1.1rem;
    top: 8px;
    font-size: 1.3rem;
    width: max-content;
  }

  #t-text {
    margin-top: 4rem;
    left: 3.5rem;
    font-size: 1.4rem;
  }

  #next {
    left: 3.3rem;
    font-size: 25px;
  }

  #prev {
    right: 4.3rem;
    font-size: 25px;
  }

  #clpics {
    height: 150px;
    width: 150px;
  }
}
